    <div style="margin-bottom: 7px" fxLayout="row" fxLayoutAlign="space-between center" >
        <div class="line"></div>
            <span class="accent-color font-size">I nostri indirizzi</span>
        <div class="line"></div>
    </div>
    <mat-dialog-content >
        <p class="font-size"> <b class="primary-color">Sede Legale</b> <br>  Via di Santa Cornelia, 9 <br>00060 Formello (Roma) <br> Italia <br><br> <b class="primary-color">Website</b> <br><a href="https://healthpointitalia.com">healthpointitalia.com</a>   </p>
    </mat-dialog-content>
