<div style="margin-bottom: 7px" fxLayout="row" fxLayoutAlign="space-between center" >
    <div class="line"></div>
    <span class="accent-color font-size">Contatti per l'assistenza</span>
    <div class="line"></div>
</div>
<mat-dialog-content>
    <p class="font-size">
        <b class="primary-color ">0640411457</b> <br>
        Attivo dal lunedì al venerdì, dalle ore 9.00 alle ore 13.00 e dalle ore 14.00 alle ore 18.00. <br><br>
        <b class="primary-color ">info@healthpointitalia.com</b><br>
        Servizio email attivo 7 giorni su 7
</mat-dialog-content>



