<div fxLayout="column" fxLayoutAlign="start end">
  <mat-card *ngIf="promoCode" >
    <mat-card-content fxLayout="column" fxLayoutAlign="space-between start" class="full-height">
      <h4 mat-card-title class="primary-color">{{promoCode.code | uppercase}}</h4>
      <small class="darkLightText alignRight">{{promoCode.startDate}} - {{promoCode.endDate}}</small>
      <small>{{promoCode.description}}</small>
    </mat-card-content>
  </mat-card>
  <div fxLayoutAlign="end start" fxLayoutGap="12px">
    <button mat-mini-fab color="primary" class="mat-elevation-z0 grow-animation" [matMenuTriggerFor]="menu"><mat-icon>settings</mat-icon></button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="editClicked.emit()"><mat-icon>edit</mat-icon> Modifica</button>
    <button mat-menu-item (click)="deletePromo(promoCode)" ><mat-icon>delete</mat-icon> Elimina</button>
  </mat-menu>

</div>
