<mat-card class="reservation-card grow-animation mat-elevation-z0" fxLayout="column" *ngIf="reservation">
  <mat-icon class="warn warn-color" *ngIf="reservation.paymentRequired" matTooltip="Prestazione non pagata">warning</mat-icon>
  <div fxLayoutAlign="space-between center" fxFlexOffset="15" mat-card-title fxLayoutGap="8px">
    <small>{{reservation.visitStart}}</small>
    <h3 class="primary-color"> {{reservation.user.name}} <br> {{reservation.user.surname}}</h3>
    <mat-icon>{{reservation.visitType | visityTypeIcon}}</mat-icon>
  </div>
  <mat-card-content fxLayout="column">
    <span fxFlexOffset="12px">{{reservation.medic.professionTitle}} {{reservation.medic.name}} {{reservation.medic.surname}}</span>
    <small> {{reservation.visitTitle}} </small>
  </mat-card-content>
</mat-card>
