#env-bar {
  display: block;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 300px;
  border-radius: 0 0 16px 16px;
  background-color: orange;
  text-align: center;
  color: black;
  position: absolute;
}
